<?php

return array(
    'canariumcore' => array(
        'site_name'                  => 'Skeleton Application',
        'verbose_title'              => false,
        'is_authentication_required' => false,
    )
);
