<?php

return array(
    'canariumcore' => array(
        'site_name'                     => 'Skeleton Application',
        'verbose_title'                 => false,
        'is_authentication_required'    => false,
        'is_authentication_whitelist' 	=> array(),
        'login_on_denied_access'        => true,
        'logout_third_party_login_too'  => false
        'application_hash'              => '',
        'user_meta'                     => array(),
    )
);
